<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TripStay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="/images/logo.png" type="image/icon type">
</head>
<body>

    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" asp-controller="Home" asp-action="Index">
                <i class="fas fa-hotel"style="margin-right:0.8em"></i>
                <span class="menu-title" style="color:#959CB6;font-size:29px">TripStay</span></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <partial name="_LoginPartial" />
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item" style="margin-top:30px">
                        <a class="nav-link" data-toggle="collapse" href="#Guest" aria-expanded="false" aria-controls="ui-basic" style="padding:30px 60px">
                            <i class="fas fa-users fa-lg text-primary" style="margin-right:0.8em"></i>
                            <span class="menu-title" style="font-size:18px">Guest</span>

                        </a>
                        <div class="collapse" id="Guest">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Guest" asp-action="Create" style="font-size:15px"> New Booking</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Guest" asp-action="Index" style="font-size:15px" > All Bookings</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#Staff" aria-expanded="false" aria-controls="ui-basic"style="padding:30px 60px">
                            <i class="fas fa-user-plus fa-lg text-primary" style="margin-right:0.8em"></i>
                            <span class="menu-title" style="font-size:18px">Staff</span>

                        </a>
                        <div class="collapse" id="Staff">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Staff" asp-action="Index" style="font-size:15px"> Upcoming Bookings </a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Staff" asp-action="Old" style="font-size:15px"> Old Record </a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-panel">
                <partial name="_CookieConsentPartial" />
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
